<h1>All users</h1>
<table class="users table table bordered">
  <tr class="info">
    <th>User ID</th>
    <th>Email</th>
    <th>Role</th>
  </tr>
  <% @users.each do |user| %>
    <tr class="user-row">
      <td><%= link_to user.id, user_path(user) %></td>
      <td><%= link_to user.email, user_path(user) %></td>
        <td>
            <% if user != current_user %>
              <%= form_for user do |f| %>
              <%= f.select :role, User::ROLES  %>
              <%= f.submit "Change role" %>
            <% end %>
          <% end %>
        </td>
    </tr>
  <% end %>
</table>
