<%= form_for [:admin, @post] do |f| %>
  <% if @post.errors.any? %>
    <div class="errors">
      <h2>
        <%= pluralize(@post.errors.count, 'error') %> prevented this post from saving
      </h2>
      <ul>
        <% @post.errors.full_messages. each do |msg|%>
        <li><%= msg%></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field  :title, :class=>"form-control" %>
  </div>
    <div class="form-group" rows="20">
    <%= f.label :body %><br>
    <%= f.text_area :body, :class=>"form-control", :rows =>"25"%>
  </div>
  <%= f.submit %>
<% end %>
