<h1><%= @header %></h1>
<% if @posts.length > 0 %>
  <table class="posts table table-bordered">
    <tr class="info">
      <th>Id</th>
      <th>Title</th>
      <th>Created</th>
      <th>Updated</th>
      <th>Actions</th>
    </tr>
    <% @posts.each do |post| %>
    <tr class="post">
      <td><%= post.id %></td>
      <td><%= link_to post.title, edit_admin_post_path(post) %></td>
      <td><%= post.created_at %></td>
      <td><%= post.updated_at %></td>
      <td>
        <p>
          <%= link_to edit_admin_post_path(post), class: "btn btn-default" do %>
            <i class="glyphicon glyphicon-edit"> Edit</i>
          <% end %>
        </p>
        <p>
          <%= link_to admin_post_path(post), class: "btn btn-default", method: :delete, confirm: "Are you sure?" do %>
            <i class="glyphicon glyphicon-remove"> Delete</i>
          <% end %>
        </p>
        <p>
          <% if post.status == "draft" %>
            <%= link_to pending_admin_posts_path, class: "btn btn-default" do %>
              <i class="glyphicon glyphicon-share">Send to review</i>
            <% end %>
          <% end %>
        </p>
      </td>

    </tr>
    <% end %>
  </table>
<% else %>
  <p>No posts found</p>
<% end %>
