<div class="panel panel-default">
<div class="panel-heading"><h1 class="title"> <%= @post.title %></h1></div>
  <small>
    Submited <%= time_ago_in_words(@post.created_at) %> ago by <%= @post.author %>
  </small>
  <div class="panel-body">
    <p><%= @post.body %></p>
  </div>
  <div class="panel-footer">
    <% if user_signed_in?  %>
      <% if current_user.role == "admin" || current_user == @post.user %>
        <button type="button" class="btn btn-sm">
          <%= link_to 'Edit', edit_admin_post_path(@post) %>
        </button>
        <button type="button" class="btn btn-sm">
          <%= link_to 'Delete', admin_post_path(@post),
                                method: :delete,
                                data: {confirm: 'Are you shure?'} %>
        </button>
      <% end %>
    <% end %>
  </div>
</div>

<div>
  <h3><%= pluralize(@post.comments.count, 'Comment')%></h3>
  <%= render @post.comments %>
  <% if user_signed_in? %>
    <h3>Add a comment</h3>
    <%= render 'comments/form' %>
  <% else %>
    <h3>You should sign in to leave a comment</h3>
  <% end %>
</div>
