<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>


    <div class="container">
     <div class="row">
     <%= render 'layouts/navbar' %>
     <%= render 'layouts/sidebar' %>
        <div class="col-md-9">
          <% flash.each do |name, msg| %>
            <%= content_tag(:div, msg, class: 'alert') %>
          <% end %>
          <div class="main_content col-md-8">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
